<h2> Bienvenido </h2>
<hr>
<h3><strong> {{usuario.first_name}} {{usuario.last_name}}</strong></h3>
<p>Id: <strong>{{usuario._id}}</strong></p>
<p>Correo electrónico: <strong>{{usuario.email}}</strong></p>
<p>Edad: <strong>{{usuario.age}}</strong></p>
<p>cart: <strong>{{usuario.cart}}</strong></p>
<br>

<a href="/cart/:cid">Ir al carrito</a>

<br>
{{>menuusuarios}}